/* google font importing */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.text-dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-crimson-pro {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.my-container {
  max-width: 1270px;
  margin: 0px auto;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}

.swiper-button-next {
  position: absolute;
  left: 0;
  top: 70%;
}
.swiper-button-prev {
  position: absolute;
  left: 70px;
  top: 70%;
}

/* .card-list .card-item {
  height: auto;
  color: #fff;
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
} */
/* .card-list .card-item .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 3px solid #fff;
  padding: 4px;
} */
/* .card-list .card-item .user-profession {
  font-size: 1.15rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 14px 0 40px;
}
.card-list .card-item .message-button {
  font-size: 1.25rem;
  padding: 10px 35px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
}
.card-list .card-item .message-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
} */

@media only screen and (max-width: 600px) {
  .my-container {
    margin: 0px 15px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .my-container {
    margin: auto 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* CSS rules for tablets */
  .my-container {
    margin: auto 10px;
  }
}
